utils/__pycache__/pipeline.cpython-39.pyc
bases/egresados/egresados.rar
bases/matricula_edsup/matricula_edsup_2011_2023.rar
pruebas_admision/A_INSCRITOS_PUNTAJES_PAES_2024_PUB_MRUN.csv
bases/pruebas_admision/prueba_admision_proceso_2011_2023.csv
bases/pruebas_admision/PAES-2024-Inscritos-Puntajes.rar
bases/pruebas_admision/ER_Alumnos_2024_PAES_MRUN_(A_INSCRITOS_PUNTAJES).pdf
